footer {
    background-color: blue;
    color: aquamarine;
    border-color: darkblue;
    border-width: 1px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
footer a {
    color: aqua;
}
ul {
    list-style-type: none;
}
section {
    width: 33%;
}